<div class="col-sm-6 col-md-4 thumbnail-block" draggable="true" data-id="<%= gallery_image.id %>">
  <div class="thumbnail">
    <%= image_tag gallery_image.file.variant(resize: "x200") %>
    <span class="glyphicon glyphicon-remove-sign delete"></span>
  </div>
</div>
